/*Imagen*/
#ContenedorImagen img{
    width: 100%;
}
/*Titulo y subtitulo*/
#TituloSubtitulo{
    display: block;
    align-self: flex-start;
}
#TituloSubtitulo h2{
    color:#C70039;
    padding: 105px 0 10px 50px;
    text-align:start;
    font-size: 30px;
    font-family: 'Grandstander', cursive;
}
#TituloSubtitulo h3{
    padding: 0 0 10px 50px;
    text-align:start;
    font-size:20px;
    font-family: 'Noto Sans JP', sans-serif;
}
/*Pequeño slider de la izquierda*/
#Slider{
    margin: 50px 0 0 50px;
    padding: 0 0 50px 0;
    overflow:hidden;
    width:30%;
    display: block;
}
#Slider figure{
    position: relative;
    width:500%;
    margin:0;
    left: 0;
    animation: 20s Slider infinite;
    background-color:red;
}
#Slider figure img{
    width: 20%;
    float: left;
}
@keyframes Slider{
    0% {
        left:0;
    }
    20%{
        left:0;
    }
    25%{
        left:-100%;
    }
    45%{
        left: -100%;
    }
     50%{
        left:-200%;
     }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100% {
        left: -400;
    }
}
/*Articulo sobre nuestras metas*/
article{
    display: block;
    width:30%;
    padding: 0 0 50px 30px;
    position: absolute;
    top: 138%;
    right: 19%;
}
article h3{
    
    font-size: 30px;
    font-family: 'Grandstander', cursive;
    padding: 10px 0 10px 0;
}
article p{
    font-size:15px;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 0 20px 0 20px;
    text-align: center;
}
article ul li{
    list-style: circle;
    padding: 0 0 15px 10px;
    font-size:15px;
    font-family: 'Noto Sans JP', sans-serif;
}
