.Pagina{
    color:#C70039;
    margin: 5% 0 1% 5%;
    text-align:start;
    font-size: 30px;
    font-family: 'Grandstander', cursive;
}
h3{
    margin: 0 0 1% 5%;
    padding:10px;
    font-size:20px;
    font-family: 'Noto Sans JP', sans-serif;
}
.contenedor{
    width: 100%;
}
.contenedor img{
    width:100%;
}
.persona-columna{
    margin:5px;
}
.personas .contenedor{
    display: grid;
}
@media screen and (min-width:420px){
    .personas .contenedor{
        grid-template-columns: repeat(1, 82%);
    }
    h1{
        font-size: 25px;
    }
    .contenedor img{
        padding: 1% 0 0 11%;
    }
}
@media screen and (min-width:728px){
    .personas .contenedor{
        grid-template-columns: repeat(2, 45%);
    }
    .contenedor img{
        padding: 1% 0 0 10%;
    }
}
@media screen and (min-width:1024px){
    .personas .contenedor{
        grid-template-columns: repeat(3, 28%);
    }
    .contenedor img{
        -webkit-transition:all .5s ease; /* Safari y Chrome */
        -moz-transition:all .5s ease; /* Firefox */
    }
    .contenedor img:hover  {
        transform:scale(1.1);
    }
    .contenedor img{
        padding: 1% 0 0 30%;
    }
}