/*Selector universal*/
*{
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(135deg, rgba(255, 127, 53, 0.753) 0%, rgb(255, 255, 255) 100% );
    margin: 0 10% 0 10%;
}
header{
    width: 100%;
    background-color: white;
}

/*Iconos del menu*/
i{
    margin: 5px;
}
/*Imagen de la cabecera*/
#logo{
    background-color:  #ff5833;
    display: block;
    width: 100%;
}
#logo img{
    display: block;
    width: 25%;
}
/*Menu de navegacion*/
nav{
    align-self: flex-end;
    max-width: 1000px;
    width: 100%;
    display: block;
    margin: auto;
}
.Navegacion {
    display: block;
    list-style: none;
	text-align: center;
    padding: 1%;
}
.Navegacion li:first-child {
	display: block;
}
.Navegacion li {
    display: none;
    font-size:1.0vmax;
    font-family: 'Noto Sans JP', sans-serif;
    padding:3px 0 3px 0;
    list-style:none;
    flex: 1;
}
.Navegacion a {
    color: white;
	display: inline-block;
	padding: 0.75rem;
	text-align: center;
    text-decoration: none;
}
.Navegacion li a{
    display: block;
}
/*Tamaño de los botones de navegacion*/
.n1{
    background-color: #0091b6;
}
.menu{
    background-color:#C70039;
}
/*Hover de los botones de navegacion*/
.n1:hover{
    background-color: #546cbd7c;
    transition: 0.9s;
}
.n2:hover{
    background-color: #58184583;
    transition: 0.9s;
}
.Navegacion .n1 a:hover{
    color:  #000625;
}
.Navegacion .n2 a:hover{
    color:  #470032;
}
/*Opciones desplegables*/
.Navegacion>li>ul{
    display: none;
}
.Navegacion li:hover ul{
    display:block;
}
.desplegable{
    background-color: rgb(255, 255, 255);
}
.desplegable a{
    color: rgb(0, 0, 0);
}
#Container{
    width: 100%;
    display: block;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px;
}
/* Informacion de la organizacion*/
#Contenedor{
    margin:3% 0 0 0;
    text-align: center;
    display: flex;
}
#Contenedor h3{
    font-size:18px;
    font-family: 'Grandstander', cursive;
    color:#ffffff;
}
#Contenedor div{
    margin: auto;
}
#Bienvenidos{
    display:inline-block;
    padding: 10px 0 10px 0;
    width: 28%;
}
#Bienvenidos p{
    font-size:15px;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 10px 0 0 0 ;
}
#Direccion{
    display:inline-block;
    padding: 10px 0 10px 0;
    width: 28%;
}
#Direccion p{
    font-size:15px;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 10px 0 0 15px ;
}
footer{
    font-family:'Domine', serif;
    font-size: 15px;
    background-color: #ff5833;
    width: 100%;
    bottom: 0;
    text-align: center;
    position: relative;
    padding:0 0 50px 0;
}
/*Imagen del pie de pagina*/
footer img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 20%;
}
#DerechosReservados{
    margin:5%;
}
/*Menu responsivo*/
.responsive li {
	display: block;
}

/* Media Query for medium + screens */
@media only screen and (min-width: 50.5em) {
    /*Menu de navegacion*/
    .Navegacion {
        display: flex;
    }
    .Navegacion li:first-child {
        display: none;
    }
    .Navegacion li{
        display: block;
        flex: 1 1 100%;
    }
}

/*Media Query Para el footer, header, las redes sociales, el mensaje de bienvenida y la ubicacion*/
@media screen and (max-width:600px){
    body {
        margin: 0;
        padding: 0;
        width: 100%;
     }
     #logo img{
        width: 50%;
        margin: auto;
    }
    /*Footer header*/
    /*Imagen del pie de pagina*/
    footer img{
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 50%;
    }
    nav{
        width: 100%;
    }
    .Navegacion li {
        font-size:15px;
    }
    /*Buscador*/
    #Buscador{
        width: 50%;
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }
    #search{
        padding: 8% 5% 5% 8%;
        outline: none;
        font-size:1.9vh;
        color: rgb(0, 0, 0);
        background:#fff url("/Avances del proyecto/Avance 1/");
        background-size: 9%;
        background-repeat:no-repeat;
        background-position-y: center;
        background-position-x: 10%;
        width:80%;
        text-align:end;
    }
    .Navegacion li ul{
        display: block;
    }
}
/*Cambiamos el color del boton dependiendo de la pagina en la que se encuentra*/
.activo{
    background-color: #ff5833d3;
}