/*Contenedor Main*/
#ContenedorImagen img{
    width: 80%;
    display: block;
    margin: auto;
}
/*Contenedor de informacion*/
#Informacion{
    display: flex;
    width: 100%;
    flex-flow: wrap row;
    justify-content: space-between;
}
article h3{
    text-align: center;
    padding:10px;
}
/*Titulo y subtitulo*/
#TituloSubtitulo{
    width: 100%;
    margin: 2% 0 2% 5%;
}
#TituloSubtitulo h2{
    color:#C70039;
    margin: 10px;
    text-align:start;
    font-size: 30px;
    font-family: 'Grandstander', cursive;
}
#TituloSubtitulo h3{
    padding:10px;
    font-size:20px;
    font-family: 'Noto Sans JP', sans-serif;
}
/*Pequeño slider de la izquierda*/
#Slider{
    margin: 0 0 5% 5%;
    overflow:hidden;
    width:40%;
}
#Slider figure{
    position: relative;
    width:500%;
    margin:0;
    left: 0;
    animation: 20s Slider infinite;
}
#Slider figure img{
    width: 20%;
    float: left;
}
@keyframes Slider{
    0% {
        left:0;
    }
    20%{
        left:0;
    }
    25%{
        left:-100%;
    }
    45%{
        left: -100%;
    }
     50%{
        left:-200%;
     }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100% {
        left: -400%;
    }
}
/*Articulo sobre nuestras metas*/
article{
    padding: 1%;
    width: 50%;
    margin: auto;
    display: flex;
    flex-flow: wrap row;
}
article h3{
    color:#da003e;
    font-size: 25px;
    font-family: 'Domine', serif;
    padding: 1% 0 1% 0;
}
article p{
    font-size:17px;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 5% 1% 5% 1%;
    text-align: center;
}
article ul li{
    list-style: circle;
    margin: 5%;
    font-size:17px;
    font-family: 'Noto Sans JP', sans-serif;
}
@media screen and (max-width:600px){
    #TituloSubtitulo h2{
        text-align:center;
        font-size: 25px;
    }
    #TituloSubtitulo h3{
        font-size: 15px;
        text-align:center;
    }
    article h3{
        text-align:center;
        font-size: 25px;
    }
    article p{
        font-size:15px;
        padding: 10px ;
    }
    article ul li{
        font-size:15px;
        padding: 10px;
        margin: 0 20px 0 30px;
    }
}
/*Media Query Para la pagina de "Acerca de nosotros"*/
@media screen and (max-width:800px){
    #Slider{
        padding: 0 0 50px 0;
        overflow:hidden;
        width:90%
    }
    article{
        padding: 11px;
        width: 100%;
        margin: auto;
        display: flex;
        flex-flow: wrap column;
    }
}