/*Main*/
Main{
    width: 100%;
    display: flex;
    flex-flow: wrap row;
}
#Informacion {
    width: 50%;
    padding:20px;
    display: block;
}
#Informacion2{
    padding:20px;
    width: 100%;
    display: block;
}
#Informacion2{
    padding: 0 10% 0 10% ;
    margin:  0 10% 0 10%;
}
/*Titulos y subtitulos*/
#Informacion h1, #Informacion2 h1{
    font-size: 30px;
    font-family: 'Grandstander', cursive;
    padding: 10px 0 10px 0;
}
#Informacion h2, #Informacion2 h2{
    font-size: 25px;
    font-family: 'Grandstander', cursive;
    padding: 10px 0 10px 0;
    color:#C70039;
}
#Informacion h3{
    font-size: 20px;
    font-family: 'Grandstander', cursive;
    padding: 10px 0 10px 0;
}
#Informacion2 h3{
    font-size: 20px;
    font-family: 'Grandstander', cursive;
    padding: 10px 0 10px 0;
    text-align: center;
}
/*Contenedores de informacion*/
#Informacion ul, #Informacion2 ul{
    padding: 10px 0 10px 40px;
    width: 100%;
}
#Informacion ul li, #Informacion2 ul li{
    padding: 15px 0 15px 0;
    width: 100%;
    font-size:15px;
    font-family: 'Noto Sans JP', sans-serif;
}
#Informacion p, #Informacion2 p{

    padding: 10px;
    font-size:15px;
    font-family: 'Noto Sans JP', sans-serif;
}
/*Imagenes laterales derecha*/
#ImagenLateral{
    width: 40%;
}
#ImagenLateral img{
    width:100%;
}
@media screen and (max-width:800px){
    /*Imagen*/
    #ContenedorImagen img{
        width: 100%;
    }
    #Informacion {
        width: 80%;
        padding: 9%;
    }
    #Informacion h1{
        font-size: 25px;
        text-align: center;
    }
    #Informacion h2{
        font-size: 18px;
        text-align: center;
    }
    #Informacion h3, #Informacion2 h3{
        font-size: 18px;
        text-align: center;
    }
    #Informacion ul li, #Informacion2 ul li{
        padding: 15px 0 15px 0;
        width: 100%;
        font-size:15px;
    }
    #ImagenLateral{
        width: 100%;
    }
    #Informacion2{
        width: 80%;
        padding: 2%;
    }
}